.text-title-h1 {
    color: $white;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    @include no-default-indent;

    @media (min-width: $desktop-width) {
        font-size: 48px;
        line-height: 56px;
    }
}

.text-title-accent {
    color: $accent-blue;
    @include no-default-indent;
}

.text-title-h2 {
    color: $white;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    @include no-default-indent;
    @media (min-width: $desktop-width) {
        font-size: 32px;
        line-height: 44px;
    }
}

.text-body-h3 {
    color: $white;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    @include no-default-indent;
}

.text-body-h5 {
    color: $white;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    @include no-default-indent;
}

.text-body-h5--dark,
.text-body-h3--dark,
.text-body--dark {
    color: $dark-blue;
}
