body {
    font-family: "Manrope", sans-serif;
    color: $grey;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    background-color: $dark-blue;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    text-align: center;
    margin: 44px 0 66px;

    @media (min-width: $tablet-width) {
        text-align: initial;
        margin: 48px 0 77px 39px;
    }
    @media (min-width: $desktop-width) {
        margin: 81px 0 97px 165px;
    }
}

.intro {
    background-image: url("../img/mobile-bg.svg");
    background-repeat: no-repeat;
    background-size: 102% 253px;
    text-align: center;
    @media (min-width: $tablet-width) {
        background-image: url("../img/tablet-bg.svg");
        background-size: 100% 357px;
        background-position:center;
    }

    @media (min-width: $desktop-width) {
        background-image: url("../img/main-bg.svg");
        min-height: 450px;
        background-size: cover;
    }
}

.intro__title {
    padding: 300px 93px 0 93px;
    @media (min-width: $tablet-width) {
        padding: 51px 28% 0;
    }

    @media (min-width: $desktop-width) {
        padding-top: 88px;
    }
}

.intro__desc {
    @include no-default-indent;
    margin: 32px 48px 240px;

    @media (min-width: $tablet-width) {
        margin: 24px 30% 0;
        padding-bottom: 100px;
    }
}

